{% extends '__base.html' %}

{% block title %}Profiles Directory{% endblock %}

{% block content %}
    <h1>Profiles</h1>
    <div id="grid">
        <div id="grid-content">
            {% if users %}
                {% for user in users %}
                    <div class="item">
                        <a href="" target="_blank">
                            {% if not user.is_staff %}
                                <a href="{% url 'social:profile_page' username=user.username %}">
                                    {% if user.profile.profile_picture %}
                                        <img src="{{ user.profile.profile_picture.url }}" alt="{{ user.profile.first_name }}" height="150" width="150"/>
                                    {% else %}
                                        <img src="" alt="<TODO: put default pic here>" height="150" width="150"/>
                                    {% endif %}
                                    <p>{{ user.username }}</p>
                                </a>
                            {% endif %}
                        </a>
                    </div>
                {% endfor %}
            {% else %}
                <p>There are no profiles to display.</p>
            {% endif %}
        </div>
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if profiles.has_previous %}
                <a href="?page={{ users.previous_page_number }}">previous</a>
            {% endif %}
            <span class="current">
                Page {{ users.number }} of {{ users.paginator.num_pages }}
            </span>
            {% if users.has_next %}
                <a href="?page={{ users.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
