{% load thumbnail %}

<div id="grid">
  <div id="grid-content">
    {% if pictures %}
      {% for pic in pictures %}
        <div class="item">
          <a href="{{ pic.image.url }}" target="_blank">
            {% thumbnail pic "150x150" crop="center" as im %}
              <img src="{{ pic.image.url }}" height="{{ im.height }}" width="{{ im.width }}" />
            {% endthumbnail %}
          </a>
          {% block image_info_below %}{% endblock %}
        </div>
      {% endfor %}
    {% else %}
      <p>There are no images to display.</p>
    {% endif %}
  </div>
</div>
<div class="pagination">
  <span class="step-links">
    {% if pictures.has_previous %}
      {% if selected_tags_for_url_parameter %}
        <a href="?page={{ pictures.previous_page_number }}&tags={{ selected_tags_for_url_parameter }}">previous</a>
      {% else %}
        <a href="?page={{ pictures.previous_page_number }}">previous</a>
      {% endif %}
    {% endif %}
    <span class="current">
      Page {{ pictures.number }} of {{ pictures.paginator.num_pages }}
    </span>
    {% if pictures.has_next %}
      {% if selected_tags_for_url_parameter %}
        <a href="?page={{ pictures.next_page_number }}&tags={{ selected_tags_for_url_parameter }}">next</a>
      {% else %}
        <a href="?page={{ pictures.next_page_number }}">next</a>
      {% endif %}
    {% endif %}
  </span>
</div>
