<div>
  <h3>Tags</h3>
  {% if selected_tags %}
    <p>
      (<a href="{% url 'imageshare:images' %}?page=1">clear all</a>)
    </p>
    <p>
      selected:
      {% for selected_tag in selected_tags %}
        {{selected_tag}}
      {% endfor %}
    </p>
  {% endif %}
  {% if tags %}
    <p>
      {% for tag in tags %}
        {% if selected_tags_for_url_parameter %}
          <a href="{% url 'imageshare:images' %}?page=1&tags={{ selected_tags_for_url_parameter }}+{{ tag }}">
            {{tag}}
          </a>
        {% else %}
          <a href="{% url 'imageshare:images' %}?page=1&tags={{ tag }}">
            {{tag}}
          </a>
        {% endif %}
      {% endfor %}
    </p>
  {% endif %}
</div>
