<div>
  <h3>Tags</h3>
  <p>
    (<a href="{% url 'imageshare:images' %}?page=1">clear all</a>)
  </p>
  {% if tags %}
    <p>
      {% for tag in tags %}
        {% if selected_tags %}
          <a href="{% url 'imageshare:images' %}?page=1&tags={{ selected_tags }}+{{ tag }}">
            {{tag}}
          </a>
        {% else %}
          <a href="{% url 'imageshare:images' %}?page=1&tags={{ tag }}">
            {{tag}}
          </a>
        {% endif %}
      {% endfor %}
    </p>
  {% endif %}
</div>
