{% load thumbnail %}

<div class="container">
  {% if pictures %}
    <div class="row text-center text-lg-left">
      {% for pic in pictures %}
        <div class="col-lg-3 col-md-4 col-xs-6 mb-4">
          {% thumbnail pic "300x300" crop="center" as im %}
            <a href="{{ pic.get_absolute_url }}">
              <img class="img-fluid img-thumbnail" src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}" />
            </a>
          {% endthumbnail %}
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>There are no images to display.</p>
  {% endif %}
</div>

{% include "images/_pagination.html" with items=pictures %}
