<div class="tag-box">
  <h3>Tags</h3>
  {% if selected_tags %}
    <p>
      (<a href="{% url 'images' %}?page=1">clear all</a>)
    </p>
    <p>
      selected:
      {% for selected_tag in selected_tags %}
        {{selected_tag}}
      {% endfor %}
    </p>
  {% endif %}
  {% if tags %}
    <ul>
      {% for tag in tags %}
        <li>
          <a class="btn btn-primary" role="button" href="{% url 'images' %}?tag={{ tag|slugify }}{% if url_query_string %}&{{ url_query_string }}{% endif %}">{{tag}}</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no tags to display.</p>
  {% endif %}
</div>
