{% extends '__base.html' %}

{% block title %}{{ picture_basename }}{% endblock %}

{% block content %}
  <p>
    <label>Uploader:</label>
    <a href="{% url 'accounts:profile_page' username=picture.user.username %}">
      {{ picture.user.username }}
    </a>
  </p>
  <p>
    <label>Upload date:</label>
    {{ picture_upload_date }}
  </p>
  {% if request.user.is_authenticated and picture.user == request.user %}
    <p>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit edits</button>
      </form>
    </p>
  {% else %}
    <p>
      <label>Tags</label>
      {{ picture.tags }}
    </p>
  {% endif %}
  <img class="fit" src="{{ picture.image.url }}" alt="{{ picture.image.name }}" />
{% endblock %}
