.navbar {
    margin-bottom: 2rem;
}

/* Gender radio selection style */
ul#id_gender {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul#id_gender li {
    padding: 1rem;
    display: inline;
}
