div#grid div.item {
    width: 160px;
    height: 160px;
    float: left;
    padding: 5px;
    margin: 5px;
    background-color: lightslategray;
}

div#grid div.item div.item-thumbnail {
    width: 150px;
    height: 150px;
}

div#grid div.item p {
    background-color: lightgray;
    padding: 0 10px 0 10px;
    margin: 0 -5px 0 -5px;
}

div.tag-box ul li {
    list-style: none;
    float: left;
}

div.tag-box ul li>a {
    height: 24px;
    line-height: 20px;
    font-size: 14px;
    margin-top: 2px;
    border-radius: 12px;
    display: inline-block;
    border: 1px solid #1c4772;
    background: linear-gradient(to bottom,#416181 0,#5989b9 100%);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.19);
    color: #fff;
    text-decoration: none;
    padding: 0 9px;
    margin-right: 5px;
    outline: 0 !important;
}
