<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'homepage' %}">Home</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'images' %}">Images</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'directory:profiles_directory' %}">Directory</a>
      </li>
    </ul>

    <ul class="navbar-nav">
      {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{{ request.user.profile.get_absolute_url }}">View Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:edit_profile' %}">Edit Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'upload_images' %}">Upload Images</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:signup' %}">Signup</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
