<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'homepage' %}">Home</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left">
            {% if request.user.is_authenticated %}
              <li><a href="{% url 'directory:profiles_directory' %}">Directory</a></li>
            {% endif %}
          </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if request.user.is_authenticated %}
          <li><a href="{% url 'accounts:profile' %}">Your Profile</a></li>
          <li><a href="{% url 'imageshare:upload_images' %}">Upload Images</a></li>
          <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
        {% else %}
          <li><a href="{% url 'accounts:login' %}">Login</a></li>
          <li><a href="{% url 'accounts:signup' %}">Signup</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
