{% extends '__base.html' %}

{% load thumbnail %}

{% block title %}Edit Profile{% endblock %}

{% block content %}
  <h2>{{ user.username }}</h2>
  {% if user.profile.profile_picture %}
    {% thumbnail user.profile.profile_picture "150x150" crop="center" as im %}
      <img src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}"/>
    {% endthumbnail %}
  {% endif %}
  <br><br>
  <p>
    <a href="{% url 'accounts:change_profile_picture' %}">Change profile picture</a>
  </p>
  <h3>Edit Profile</h3>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
  </form>
{% endblock %}
