{% extends '__base.html' %}

{% load filters %}
{% load static %}
{% load thumbnail %}

{% block title %}Edit Profile{% endblock %}

{% block content %}

  <div class="row justify-content-center">

    <div class="col-lg-4 col-md-4 col-xs-6">
      <h2>Your Picture</h2>
      {% if user.profile.profile_picture %}
        {% thumbnail user.profile.profile_picture "300x300" crop="center" as im %}
          <img class="img-fluid img-thumbnail" src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}"/>
        {% endthumbnail %}
      {% else %}
        <img class="img-fluid img-thumbnail" src="{% static "images/default_profile_pic.svg" %}" alt="profile pic" height="300" width="300"/>
      {% endif %}
      <p>
        <a href="{% url 'accounts:change_profile_picture' %}">Change profile picture</a>
      </p>
    </div>

    <div class="col-lg-4 col-md-4 col-xs-6">
      <h2>Your Info</h2>
      <form method="post" class="card-text">
        {% csrf_token %}

        {% if form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
              {{ error }}
            {% endfor %}
          </div>
        {% endif %}

        {% for field in form.visible_fields %}
          <div class="form-group">
            {{ field.label_tag }}
            {% if field.errors %}
              {{ field|add_class:"form-control is-invalid" }}
              {% for error in field.errors %}
                <div class="invalid-feedback">
                  {{ error }}
                </div>
              {% endfor %}
            {% else %}
              {{ field|add_class:"form-control" }}
            {% endif %}
          </div>
        {% endfor %}

        <button class="btn btn-primary" type="submit">Save</button>
      </form>
    </div>
  </div>

{% endblock %}
