{% extends '__base.html' %}

{% load filters %}

{% block title %}Account Login{% endblock %}

{% block content %}

<div class="row justify-content-center">
  <div class="col-lg-4 col-md-4 col-xs-6">
    <div class="card">
      <h2 class="card-header">Login</h2>
      <div class="card-body">
        <form method="post" class="card-text">
          {% csrf_token %}

          {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
              {% for error in form.non_field_errors %}
                {{ error }}
              {% endfor %}
            </div>
          {% endif %}

          {% for field in form.visible_fields %}
            <div class="form-group">
              {{ field.label_tag }}
              {% if field.errors %}
                {{ field|add_class:"form-control is-invalid" }}
                {% for error in field.errors %}
                  <div class="invalid-feedback">
                    {{ error }}
                  </div>
                {% endfor %}
              {% else %}
                {{ field|add_class:"form-control" }}
              {% endif %}
            </div>
          {% endfor %}

          <button class="btn btn-primary" type="submit">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
