{% extends '__base.html' %}

{% load thumbnail %}

{% block title %}{{ user.username }}'s Profile{% endblock %}

{% block content %}
  <h2>{{ user.username }}</h2>
  {% if user.profile.profile_picture %}
    {% thumbnail user.profile.profile_picture "150x150" crop="center" as im %}
      <img src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}"/>
    {% endthumbnail %}
  {% endif %}
  <br><br>
  <ul>
    <li>Name: {{ user.first_name }} {{ user.last_name }}</li>
    <li>Gender: {{ user.profile.get_gender_display }}</li>
    <li>Location: {{ user.profile.location }}</li>
    <li>Birth Date: {{ user.profile.birth_date }} ({{age}} years old)</li>
  </ul>
  <div>
    <h3>Pictures</h3>
    {% include "imageshare/__base_image_gallery.html" with pictures=pictures %}
  </div>
{% endblock %}
