{% extends '__base.html' %}

{% load thumbnail %}

{% block title %}{{ user.username }}'s Profile{% endblock %}

{% block content %}
  <h2>{{ user.username }}</h2>
  {% if user.profile.profile_picture %}
    {% thumbnail user.profile.profile_picture "150x150" crop="center" as im %}
      <img src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}"/>
    {% endthumbnail %}
  {% endif %}
  <br><br>
    <p><label>Name:</label> {{ user.first_name }} {{ user.last_name }}</p>
    <p><label>Gender:</label> {{ user.profile.get_gender_display }}</p>
    <p><label>Location:</label> {{ user.profile.location }}</p>
    {% if age %}
      <p><label>Age:</label> {{age}}</p>
    {% endif %}
  <div>
    <h3>Uploaded Images</h3>
    {% include "images/__base_image_gallery.html" with pictures=pictures %}
  </div>
{% endblock %}
