{% extends '__base.html' %}

{% load filters %}

{% block content %}

  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-6 col-xs-6">

      <h2>Change Profile Picture</h2>

      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% for hidden_field in form.hidden_fields %}
          {{ hidden_field }}
        {% endfor %}

        {% if form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
              {{ error }}
            {% endfor %}
          </div>
        {% endif %}

        <div class="form-group">
          {{ form.profile_picture.label_tag }}

          {% if form.profile_picture.errors %}
            {{ form.profile_picture|add_class:"form-control is-invalid" }}
            {% for error in form.profile_picture.errors %}
              <div class="invalid-feedback">
                {{ error }}
              </div>
            {% endfor %}
          {% else %}
            {{ form.profile_picture|add_class:"form-control" }}
          {% endif %}

          {% if form.profile_picture.help_text %}
            <small class="form-text text-muted">{{ form.profile_picture.help_text|safe }}</small>
          {% endif %}
        </div>

        <button class="btn btn-primary" type="submit">Submit</button>
        <button class="btn btn-link" href="{{ request.user.profile.get_absolute_url }}">Cancel</button>
      </form>

    </div>
  </div>

{% endblock %}
